* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.my-container {
    margin: 20px 40px;
}

.container-fluid {
    padding: 0px 0px;
}
.navbar {
    background-color: rgb(0, 0, 0) !important;
    font-size: 10pt;
    margin-bottom: 20px;
}

.navbar img {
    height: 30px;
}

.my-logo {
    margin-left: 0px;
}

.navbar li {
    margin-right: 10px;
}

.nav-link {
    color: #cacaca;
}

.nav-link:hover {
    color: white;
}

.active {
    color: white !important;
}

.my-navbar-right-elements {
    color: white;
    margin: 0px 5px;
}


#account-img {
    border-radius: 5px;
}

.under-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-bottom: 20px;
}

.left-under, .right-under {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-under h2 {
    margin-right: 20px;
}

.my-layout {
    height: 35px;
    width: 35px;
    border: 1px solid white;
}

.my-genres {
    background-color: black;
}

.carousel-container h4 {
    color: white;
}

/*Carousel Bootstrap CSS code: */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

footer {
    width: 700px;
    margin: auto;
    color: #cacaca;
    margin-top: 100px;
}

.my-social i {
    margin-right: 20px;
}

.my-footer-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 9pt;
    margin-top: 20px;
}

    .my-link-content {
        display: flex;
        flex-direction: column;
    }

    .my-link-content span {
        margin: 5px 0px;
    }

    .my-link-content a {
        text-decoration: none;
        color: #cacaca;
    }

    .my-last-footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

        .my-last-footer .services {
            border: 1px solid #cacaca;
            width: fit-content;
            padding: 5px;
        }

        .my-last-footer .info {
            font-size: 8pt;
            margin-top: 10px;
        }